{% extends "base.html" %}

{% block title %}Company List - Project Plan{% endblock title %}

{% block content %}
    <div class="company-list">
        <h1>Company List</h1>
        <p><a class="main-link" href="{% url 'add_company' %}">Add new company</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Website</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr>
                        <td><a class="link" href="{% url 'edit_company' company.id %}">{{ company.name }}</a></td>
                        <td>{{ company.address }}</td>
                    {% if company.website %}
                        <td><a class="link" href="{{ company.website }}" target="_blank">{{ company.website }}</a></td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                    <td><a href=""><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
