{% extends "base.html" %}

{% block title %}Edit {{ company.name }} - Project Plan{% endblock title %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h1 class="title">Edit Company Information</h1>
                <div class="company-form">
                    <h3 class="subtitle"><strong>{{ company.name }}</strong></h3>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="field">
                            <label class="label" for="{{ form.name.id_for_label }}">Name:</label>
                            <div class="control">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="{{ form.address.id_for_label }}">Address:</label>
                            <div class="control">
                                {{ form.address }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="{{ form.website.id_for_label }}">Website:</label>
                            <div class="control">
                                {{ form.website }}
                            </div>
                        </div>

                        <div class="field is-grouped mt-5">
                            <div class="control">
                                <button class="button is-primary" type="submit">Save Changes</button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="{% url 'company_list' %}" type="button">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
