/* GENERAL */
@import url("https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* html {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
}

main {
    color: white;
    flex: 1;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


/* HEADER */

/* header {
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #011324;
    margin-top: -5rem;
    padding-top: 1rem;
} */

/* NAV */

/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.nav-list {
    list-style: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-item {
    display: inline;
    margin: 0 1em;
    padding: 1em 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 4px;
    transition: background-color 200ms ease-in, color 200ms ease-in;
}

.nav-link:hover {
    background-color: #AFC1D0;
    color: #0B1320;
    border-radius: 4px;
} */

/* VIEW STYLING */

/* .my-tasks-list, .project-list, .project-detail, .task-detail, .company-list {
    background-color: #1b2126;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    margin: 0;
    max-width: 800px;
    padding: 2.5rem;
    text-align: center;
}

.search-projects-results {
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 300px;

}

.search-projects-results h2 {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.302);
    justify-content: center;
}

.search-projects-results ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.search-projects-results li {
    list-style: none;
    text-align: center;
}

.project-list, .task-detail-list {
    max-width: 100%;
    width: 500px;
}

.task-detail-list {
    text-align: left;
    margin-left: 2rem;
}

.my-tasks-list h1, .project-list h1, .project-detail h1, .task-detail h1, .search-projects-form h1, .search-projects-form h3{
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.search-projects-form h3 {
    margin-top: -1.25rem;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 200ms ease-in, border-bottom 200ms ease-in;
}

.link:hover {
    color: #AFC1D0;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #AFC1D0;
}

.main-link {
    background-color: #111518;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 4px;
    transition: background-color 200ms ease-in, color 200ms ease-in;
}

.main-link:hover {
    background-color: #2e3942;
    border-radius: 4px;
}

.project-list-link {
    margin-bottom: 2rem;
} */

/* TABLES */
/*
table {
    width: 100%;
    margin-top: 1.5rem;
}

table th {
    background-color: #111518;
    padding: 0.75rem;
}

table td {
    background-color: #252e35;
    padding: 0.75rem;
}

table tbody tr td:hover {
    background-color: #2e3942;
}

td a i {
    color: white;
    transition: color 200ms ease-in;
}

td a i:hover {
    color: #819cb8;

}

.my-tasks-list thead tr th, .project-list thead tr th, .project-detail thead tr th, .company-list thead tr th {
    border-bottom: 2px solid #DEDEDE;
}


.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5),
.company-list tbody td:nth-child(2),
.company-list tbody td:nth-child(3) {
    text-align: center;
}

.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td,
.company-list tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
} */


/* FORMS */
/*
input {
    height: 1.5rem;
    margin: 0;
    padding: .25rem .5rem;
    border: 4px solid #3c454e;
}

select {
    height: 2.5rem;
    border: 4px solid #3c454e;
}

select[multiple] {
    height: 7.5rem;
    border: 4px solid #3c454e;
}

input[type="datetime-local"] {
    font-family: "Roboto", sans-serif;
}

textarea {
    margin: 0;
    padding: .25rem .5rem;
    font-family: "Roboto", sans-serif;
    border: 4px solid #3c454e;
}

.helptext {
    display: block;
    font-size: 80%;
}

.login-form, .signup-form {
    background-color: #1b2126;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    margin: 2rem;
    max-width: 400px;
    padding: 2.5rem;
}

.task-form, .project-form, .add-notes-form, .search-projects-form, .add-company-form, .edit-company-form, .edit-task-form, .delete-task {
    background-color: #1b2126;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    margin: 2rem;
    max-width: 600px;
    padding: 2.5rem;
}

.task-form h1, .login-form h1, .signup-form h1, .project-form h1, .add-notes-form h1, .search-projects-form h1, .add-company-form h1, .edit-company-form h1, .edit-company-form h3, .edit-task-form h1, .delete-task h1, .delete-task p {
    margin-top: 0;
    text-align: center;
}

.project-detail h2 {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-form p, .login-form p, .signup-form p, .project-form p, .add-notes-form p, .add-notes-form p a, .search-projects-form p, .add-company-form p, .edit-company-form p, .edit-task-form p {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
}

.delete-task p {
    align-items: center;
}

.task-form p .helptext, .login-form p .helptext, .signup-form p .helptext, .project-form p .helptext, .add-notes-form p .helptext, .search-projects-form .helptext p, .add-company-form .helptext p, .edit-company-form .helptext p, .edit-task-form .helptext p {
    grid-column-start: 2;
    grid-column-end: 3;
  }

button {
    background-color: white;
    margin-top: 1rem;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

button:hover {
    background-color: #011324;
    color: white;
    border: 2px solid white;
}

.main-link {
    background-color: #111518;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 4px;
    transition: background-color 200ms ease-in, color 200ms ease-in;
}

.main-link:hover {
    background-color: #2e3942;
    border-radius: 4px;
} */


/* FOOTER */

/* footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #011324;
}

.footer-logo-container {
    margin-top: 4rem;
}

.footer-logo-container img {
    margin-top: -4rem;
}

.footer-p {
    color: white;
    text-align: center;
    line-height: 1.25;
    margin-top: -2rem;
    margin-bottom: 2rem;
} */


/* MEDIA QUERIES */

/* @media (max-width: 600px) {

    .logo-container img {
        height: 300px;
    }
}

@media (max-width: 530px) {

    .nav-list {
        gap: 0;
        margin-top: 0.25rem;
    }

    .nav-item {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .logo-container img {
        height: 200px;
        padding-top: 3rem;
    }

    .nav-list {
        margin-top: 3rem;
        flex-direction: column;
    }
} */
