@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");


body {
  background-color: #13151A;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-logo {
    max-width: 200px;
    margin: 0 auto;
}

.navbar {
  background-color: #16181D !important;
  color: #ffffff;
}

.navbar-item:hover {
  background-color: #13151A !important;
}

.footer {
  background-color: #16181D !important;
  color: white !important;
  margin-top: auto !important;
  padding: 1rem !important;
}

.footer-logo img {
    max-height: 50px;
}

.box {
    background-color: #24292E !important;
}

.title {
    color: white !important;
}

table, table th, table tr, table td {
    background-color: #24292E !important;
    color: white !important;
}

table th {
    color: white !important;
}

form .field .label {
    color: white;
}


input[type="input"],
input[type="datetime-local"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    background-color: #1a1a1a !important;
    border: 1px solid #4a4a4a;
    color: #ffffff;
    padding: 0.5rem;
    transition: border-color 200ms ease-in, background-color 200mss ease-in !important;
}

input[type="input"]:focus,
input[type="datetime-local"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #00D1B2;
    background-color: #13151A;
}

input[type="input"]:hover,
input[type="datetime-local"]:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
    border-color: #00D1B2;
}

.textarea {
    color: white !important;
}

/* Autofill */
/* Webkit */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
    transition: background-color 200ms ease-in;
}

/* Mozilla */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
    -moz-text-fill-color: #ffffff !important;
    -moz-box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
    transition: background-color 200ms ease-in;
}

.control .button {
    color: black !important;
}

.box .content, strong {
    color: white !important;
}

table td .link {
    color: #00D1B2 !important;
    transition: color 200ms ease-in;
}


table td .link:hover {
    color: #485FC7 !important;

}
