{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <div class="wrapper">
        <header>
            <div class="logo-container">
                <img src="{% static "images/project-plan.png" %}" alt="project plan logo" height="300">
            </div>
            <nav class="navbar">
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'show_my_tasks' %}">My tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'list_projects' %}">My projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'company_list' %}">Companies</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div class="footer-logo-container">
                <img src="{% static "images/project-plan.png" %}" alt="project plan logo" height="150">
            </div>
            <p class="footer-p">Created by<br>Julia Veliquette</p>
        </footer>
        </div>
    </body>
</html>
