{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="has-navbar-dark">
        <header>
            <nav class="navbar is-centered is-dark" role="navigation" aria-label="main-navigation">
                <figure class="image is-2by2 navbar-logo">
                    <img class="is-fullwidth" src="{% static "images/project-plan.png" %}" alt="project plan logo">
                </figure>
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-burger" data-target="navMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="navMenu" class="navbar-menu ml-4">
                        <div class="navbar-start">
                            {% if user.is_authenticated %}
                                <a class="navbar-item" href="{% url 'show_my_tasks' %}">My Tasks</a>
                                <a class="navbar-item" href="{% url 'list_projects' %}">My Projects</a>
                                <a class="navbar-item" href="{% url 'logout' %}">Log Out</a>
                            {% else %}
                                <a class="navbar-item" href="{% url 'login' %}">Log In</a>
                                <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
                            {% endif %}
                        </div>
                    </div
                </div>
            </nav>
        </header>

        <div class="greeting">
            {% if user.is_authenticated %}
                <p class="greeting mt-2">Hello, {{ user }}!</p>
            {% endif %}
        </div>

        <main class="section">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>

        <footer class="footer">
            <div class="content has-text-centered">
                <figure class="is-2by2 footer-logo">
                    <img src="{% static "images/project-plan.png" %}" alt="project plan logo">
                </figure>
                <p>Created by<br>Julia Veliquette</p>
            </div>
        </footer>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
