{% extends "base.html" %}

{% block title %}Edit {{ task.name }} - Project Plan{% endblock title %}

{% block content %}
    <div class="box">
        <h1 class="title">Edit Task: {{ task.name }}</h1>
        <div class="edit-task-form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
