{% extends "base.html" %}

{% block title %}Delete Project - Project Plan{% endblock title %}

{% block content %}
    <div class="box">
        <h1 class="title">Delete Project</h1>
        <p>Are you sure you want to delete the project "{{ project.name }}"?</p>
        <form method="POST">
            {% csrf_token %}
            <div class="control">
                <button class="button is-danger">Yes, delete</button>
            </div>
            <div class="control">
                <p class="mt-4"><a class="button is-link" href="{% url 'list_projects' %}">Cancel</a></p>
            </div>
        </form>
    </div>
{% endblock content %}
