{% extends "base.html" %}

{% block title %}Delete Task - Project Plan{% endblock title %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h1 class="title">Delete Task</h1>
                <p>Are you sure you want to delete the task "{{ task.name }}"?</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="field is-grouped mt-5">
                        <div class="control">
                            <button class="button is-danger">Yes, delete</button>
                        </div>
                        <div class="control">
                            <a class="button is-link is-light" href="{% url 'show_project' project.id %}">No, cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
