{% extends "base.html" %}

{% block title %}Edit {{ project.name }} - Project Plan{% endblock title %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h1 class="title">Edit Project - {{ project.name }}</h1>
                <div class="project-form">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="field">
                            <label class="label" for="{{ form.name.id_for_label }}">Name:</label>
                            <div class="control">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="{{ form.description.id_for_label }}">Description:</label>
                            <div class="control">
                                {{ form.description }}
                            </div>
                        </div>

                        <div class="field">
                            <label>
                                <p class="is-size-8 has-text-white">
                                    <strong>Owner:</strong> {{ user }}
                                </p>
                            </label>
                        </div>

                        <div class="field is-grouped mt-5">
                            <div class="control">
                                <button class="button is-primary" type="submit">Save</button>
                            </div>
                            <div class="control">
                                <a class="button is-link" href="{% url 'show_project' project.id %}" type="button">Cancel</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
