{% extends "base.html" %}

{% block title %}
    My Projects - Project Plan
{% endblock title %}
{% block content %}
    <div class="project-list">
        <h1>My Projects</h1>
        <p class="project-list-link"><a class="main-link" href="{% url 'search_projects' %}">Search for projects by company</a></p>
        <p><a class="main-link" href="{% url 'create_project' %}">Create a new project</a></p>
        {% if project_list|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td class="link-item">
                                <a class="link" href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
