{% extends "base.html" %}

{% block title %}
    {{ project.name }} - Project Plan
{% endblock title %}
{% block content %}
    <div class="box">
        <h1 class="title">{{ project.name }}</h1>
        <p class="content"><strong>Description:</strong> {{ project.description }}</p>
        <div class="field is-grouped mt-5">
            <div class="control">
                <a class="button is-primary" href="{% url 'edit_project' project.id %}">Edit Project</a>
            </div>
            <div class="control">
                <a class="button is-link" href="{% url 'create_task' %}">Create a New Task</a>
            </div>
        </div>
        <h2 class="subtitle has-text-black"><strong>Tasks</strong></h2>
        {% if tasks|length == 0 %}
            <p>This project has no tasks!</p>
        {% else %}
            <div class="table-container">
                <table class="table is-fullwidth is-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td><a class="link" href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                                <td><p class="has-text-primary-00">{{ task.start_date }}</p></td>
                                <td><p class="has-text-primary-00">{{ task.due_date }}</p></td>
                                <td><p class="has-text-primary-00">{{ task.is_completed|yesno }}</p></td>
                                <td>
                                    <div class="buttons">
                                        <a class="button is-danger is-small" href="{% url 'delete_task_from_project_list' project.id task.id %}">
                                            <span>Delete</span>
                                            <span class="icon">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}
