{% extends "base.html" %}

{% block title %}Search Projects - Project Plan{% endblock title %}

{% block content %}
    <div class="box">
        <div class="search-form">
            <h1 class="title">Search for projects by company</h1>
            <form method="GET">
                {{ form.as_p }}
                <button class="button is-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="box">
        {% if projects %}
            <h2 class="title">Projects</h2>
            <ul class="content">
                {% for project in projects %}
                    <li><a class="has-text-primary" href="{% url 'show_project' project.id %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}
