{% extends "base.html" %}

{% block title %}Search Projects - Project Plan{% endblock title %}

{% block content %}
    <div class="box">
        <h1 class="title">Search for projects by company</h1>
        <div class="search-form">
            <form method="GET">
                <div class="field">
                    <label class="label" for="{{ form.company.id_for_label }}">Company:</label>
                    <div class="control">
                        {{ form.company }}
                    </div>
                </div>
                <div class="field is-grouped mt-5">
                    <div class="control">
                        <button class="button is-primary" type="submit">Search</button>
                    </div>
                    <div class="control">
                        <a class="button is-link" href="{% url 'list_projects' %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="box">
        {% if projects %}
            <h2 class="title">Projects</h2>
            <ul class="content">
                {% for project in projects %}
                    <li><a class="has-text-primary" href="{% url 'show_project' project.id %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}
